<div class="large-9 push-3 columns">

  <div ng-controller="AboutPagesCtrl">
  Select a tab by setting active binding to true:
  <br />
  <button class="btn btn-small" ng-click="tabs[0].active = true">Select second tab</button>
  <button class="btn btn-small" ng-click="tabs[1].active = true">Select third tab</button>
  <button class="btn btn-small" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
  <hr />

  <tabset>
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
    <tab select="alertMe()">
      <tab-heading>
        <i class="icon-bell"></i> Select me for alert!
      </tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>
  </tabset>

  <hr />

  <tabset vertical="true" type="navType">
    <tab heading="Vertical 1">Vertical content 1</tab>
    <tab heading="Vertical 2">Vertical content 2</tab>
  </tabset>
</div>

<hr>

  <% @aboutpages.each do |a| %>
  <h3><%= a.title %></h3>
  <p><%= simple_format(a.content, html_options={}, options={}) %></p>

  <%= simple_form_for a do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit %>
  <% end %>
  <% end %>

  <h3>Create new About Page </h3>

  <%= simple_form_for Aboutpage.new do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit %>
  <% end %>



</div>