<div ng-controller="PersonnelCtrl">
	<div class='row-fluid'>
	<button ng-click='addNew = true'>Add New Personnel</button>
	<div ng-show='addNew'>
		<div class='span3'>
	 <%= simple_form_for Personnel.new do |f| %>
      <%= f.input :name  %>
     <%= f.input :email %>
     <%= f.input :personneltype, collection: [
      'Director',
      'Associate',
      'Graduate',
      'Undergraduate'], selected: 'Director' %>
  </div>
  <div class='span3'>
     <%= f.input :title %>
     <%= f.input :phone %>
     <div id="photo_attachment_container">
          <label>Choose a picture</label>
      <div class="wrapper">
        <%= f.file_field :picture %>
      </div>
      <%= f.submit 'Save New Personnel', class: 'btn btn-primary btn-large' %>
    </div>
    <% end %>
</div>
<div class='span6'></div>
</div>
	</div>
	<div ng-repeat='title in types'>
		<h4>{{title}}</h4><br />
		<div ng-repeat='personnel in personnels'>
			<div ng-model='personnel' destroy='delete($index)' types='title' personnel ng-transclude type="personnel.personneltype">
      </div>
		</div>
	</div>
</div>
<% @personnels.each do |f| %>
<div id="<%= "person" + f.id.to_s %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
<%= simple_form_for f do |p| %>
  <%= p.input :name %>
  <%= p.input :email %>
  <%= p.input :personneltype, collection: [
    'Director',
    'Associate',
    'Graduate',
    'Undergraduate'], selected: 'Director' %>
  <%= p.input :title %>
  <%= p.input :phone %>
  <div id="photo_attachment_container">
    <label>Choose a picture</label>
  <div class="wrapper">
  <%= p.file_field :picture %>
  </div>
  </div>
  <%= p.submit 'Update Personnel', class: 'btn btn-primary btn-large' %>
<% end %>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<% end %>
